USE [skfuser]
GO
/****** Object:  StoredProcedure [skfuser1].[cas_createMeasStatus]    Script Date: 8/17/2017 15:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Pascal Bellerose
-- Create date: 2017-07-04
-- Description:	Calculate inspection measurement results
--              and store them in table cas_MeasStatus
-- =============================================
ALTER PROCEDURE [skfuser1].[bak_createMeasStatus]
	@startdate date, -- Date to use when selecting start week
	@enddate date -- Date to use when selecting end week
	
AS
BEGIN
	
	DECLARE @wstr date
	DECLARE @wend date
	SET @wstr = @startdate
	SET @wend = dateadd(wk, 1, @startdate)

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON


	-- Empty table if requested
	delete from skfuser1.bak_MeasStatus where routeStart>=@startdate and routeStart<=@enddate

	-- Start filling the table week by week until end date is reached
	while @wstr < @enddate
	begin
 		Insert into bak_measStatus
		select [plantName]
			  ,[routeName]
			  ,[machineDescription]
			  ,[machineName]
			  ,[pointCategory]
			  ,[OPERATOR_GROUP]
			  ,[OPERATOR_NAME]
			  ,[pointId]
			  ,[pointName]
			  ,[pointDescription]
			  ,[rankInRoute]
			  ,[routePointId]
			  ,[routeStart]
			  ,[routeEnd]
			  ,[routeUpload]
			  ,[pctcomplete]
			  ,[measId]
			  ,[MeasStatus]
			  ,[MeasGravity]
			  ,[measMonth]
			  ,[measWeek]
			  ,[measYear]
		from bak_AllMeasStatus
		where 
			/*** FILTRES STANDARDS ***/
			-- Période désirée
			routestart>=@wstr and routestart<=@wend			
					
		set @wstr = dateadd(wk,1,@wstr)
		set @wend = dateadd(wk,1,@wend)
		if (@wend > @enddate) set @wend=@enddate
	end


END